spacy>=2.0.11
tldextract>=2.1.0
requests>=2.18.0
scikit-learn>=0.19.0
pandas>=0.22.0
scipy>=1.0.0
numpy>=1.14.0
matplotlib>=2.2.0
beautifulsoup4>=4.6.0
adjustText>=0.6.3
eventlet>=0.22.1
nltk>=3.2.5
Cython
git+https://github.com/crazyfrogspb/tweepy.git
git+https://github.com/crazyfrogspb/fastText.git
